<div class="container-fluid odd">
	<form class="text-center">
		<!-- Boutons -->
        <div class="row py-1 odd">
            <div class="col-auto">
                <div class="btn-group btn-group-sm" role="group">
                    <button type="button" class="btn btn-dark" title="{{'OPEN' | translate}}" ng-click="getMyPcNpc()" data-bs-toggle="offcanvas" data-bs-target="#pcNpcCanvas" ng-show="isAuthenticated()">
                        📂&nbsp;{{'OPEN' | translate}}
                    </button>
                    <button type="button" class="btn btn-dark" title="{{'SAVE' | translate}}" ng-click="savePcNpc()" ng-show="isAuthenticated()">
                        💾&nbsp;{{'SAVE' | translate}}
                    </button>
                    <button type="button" class="btn btn-dark" title="{{'EXPORT' | translate}}" data-bs-toggle="modal" data-bs-target="#save" ng-click="encoder()">
                        🔻&nbsp;{{'EXPORT' | translate}}
                    </button>
                    <button type="button" class="btn btn-dark" title="{{'IMPORT_JSON' | translate}}" data-bs-toggle="modal" data-bs-target="#importJson">
                        🔺&nbsp;{{'IMPORT_JSON' | translate}}
                    </button>
                    <button type="button" class="btn btn-dark" title="Stat Block" data-bs-toggle="modal" data-bs-target="#sheet" ng-click="calculsStatBlock()">
                        📜&nbsp;Stat Block
                    </button>
                    <!--<button type="button" class="btn btn-primary" ng-click="openHelpPage()">⁉&nbsp;{{'HELP' | translate}}</button>-->
                  </div>
            </div>
        </div>
		<!-- Infos -->
		<div class="row pt-1 g-0">
			<!-- Colonne gauche -->
			<div class="col-4">
				<div class="row g-0">
					<div class="col-12 border-top border-dark">
						<div class="card border border-0 rounded-0 odd">
							<div class="card-hdeader text-start fw-semibold">
								{{'PLAYER' | translate}}
							</div>
							<div class="card-body border border-0 px-1 pt-0 pb-1">
								<input type="text" class="form-control form-control-sm text-center border border-0 odd" ng-model="joueur">
							</div>
						</div>
					</div>
					<div class="col-12 border-top border-dark">
						<div class="card border border-0 rounded-0 odd">
							<div class="card-hdeader text-start fw-semibold">
								{{'NAME' | translate}}
							</div>
							<div class="card-body border border-0 px-1 pt-0 pb-1">
								<input type="text" class="form-control form-control-sm text-center border border-0 odd" ng-model="nom">
							</div>
						</div>
					</div>
					<div class="col-12 border-top border-dark">
						<div class="card border border-0 rounded-0 odd">
							<div class="card-hdeader text-start fw-semibold">
								{{'RACE' | translate}}
							</div>
							<div class="card-body border border-0 px-1 pt-0 pb-1">
								<input type="text" class="form-control form-control-sm text-center border border-0 odd" ng-model="race">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Colonne milieu -->
			<div class="col-4">
				<div class="row g-0">
					<div class="col-12 border-top border-dark">
						<div class="card border border-0 rounded-0 even">
							<div class="card-hdeader text-center fw-semibold">
								<span class="">{{'ENDURANCE' | translate}}</span>
							</div>
							<div class="card-body border border-0 px-1 pt-0 pb-1">
								<div class="row">
									<div class="col"><input type="text" class="form-control form-control-sm text-center border border-0 rounded-pill" placeholder="{{'CURRENT' | translate}}" ng-model="end"></div>
									/
									<div class="col"><input type="text" class="form-control form-control-sm text-center border border-0 rounded-pill" placeholder="Max" ng-model="maxEnd"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-12 border-top border-dark">
						<div class="card border border-0 rounded-0 even">
							<div class="card-hdeader text-center fw-semibold">
								<span>{{'CORRUPTION' | translate}}</span>
							</div>
							<div class="card-body border border-0 px-1 pt-0 pb-1">
								<div class="row">
									<div class="col"><input type="text" class="form-control form-control-sm text-center border border-0 rounded-pill" placeholder="{{'TEMP' | translate}}" ng-model="ct"></div>
									|
									<div class="col"><input type="text" class="form-control form-control-sm text-center border border-0 rounded-pill" placeholder="{{'PERM' | translate}}" ng-model="cp"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="col-6 border-top border-dark">
						<div class="card border border-0 rounded-0 even">
							<div class="card-hdeader text-center fw-semibold">
								<span class="d-sm-none small">{{'RES_DOUL_SHORT' | translate}}</span>
								<span class="d-none d-sm-block d-lg-none">{{'RES_DOUL_SHORT' | translate}}</span>
								<span class="d-none d-lg-block d-xl-none small">{{'RES_DOUL' | translate}}</span>
								<span class="d-none d-xl-block">{{'RES_DOUL' | translate}}</span>
							</div>
							<div class="card-body border border-0 px-1 pt-0 pb-1">
								<input type="text" class="form-control form-control-sm text-center border border-0 rounded-pill" ng-model="sd">
							</div>
						</div>
					</div>
					<div class="col-6 border-top border-dark">
						<div class="card border border-0 rounded-0 even">
							<div class="card-hdeader text-center fw-semibold">
								<span class="d-sm-none small">{{'SEUIL_CORR_SHORT' | translate}}</span>
								<span class="d-none d-sm-block d-lg-none">{{'SEUIL_CORR_SHORT' | translate}}</span>
								<span class="d-none d-lg-block d-xl-none small">{{'SEUIL_CORR' | translate}}</span>
								<span class="d-none d-xl-block">{{'SEUIL_CORR' | translate}}</span>
							</div>
							<div class="card-body border border-0 px-1 pt-0 pb-1">
								<input type="text" class="form-control form-control-sm text-center border border-0 rounded-pill" ng-model="sc">
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Colonne droite -->
			<div class="col-4">
				<div class="row g-0">
					<div class="col-12 border-top border-dark">
						<div class="card border border-0 rounded-0 odd">
							<div class="card-hdeader text-end fw-semibold">
								{{'ARCHETYP' | translate}}
							</div>
							<div class="card-body border border-0 px-1 pt-0 pb-1">
								<input type="text" class="form-control form-control-sm text-center border border-0 odd" ng-model="typ">
							</div>
						</div>
					</div>
					<div class="col-12 border-top border-dark">
						<div class="card border border-0 rounded-0 odd">
							<div class="card-hdeader text-end fw-semibold">
								{{'XP_TOTAL' | translate}}
							</div>
							<div class="card-body border border-0 px-1 pt-0 pb-1">
								<input type="text" class="form-control form-control-sm text-center border border-0 odd" ng-model="xp">
							</div>
						</div>
					</div>
					<div class="col-12 border-top border-dark">
						<div class="card border border-0 rounded-0 odd">
							<div class="card-hdeader text-end fw-semibold">
								{{'XP_UNSPENT' | translate}}
							</div>
							<div class="card-body border border-0 px-1 pt-0 pb-1">
								<input type="text" class="form-control form-control-sm text-center border border-0 odd" ng-model="xpNonDep">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Caracs -->
		<div class="row mt-2 p-1 g-0 g-lg-1 bg-black rounded-2">
			<div class="col-1 p-0"></div>
			<div class="col-1">
				<div class="card text-center">
					<div class="card-body p-0 m-0">
						<input type="text" class="form-control form-control-sm text-center border border-0 p-0" ng-model="pre">
					</div>
					<div class="card-footer text-muted p-0 fw-semibold border border-top-0 bg-transparent">
						<span class="d-sm-none small lowerTheCase">{{'PRE' | translate}}</span>
						<span class="d-none d-sm-block d-lg-none">{{'PRE' | translate}}</span>
						<span class="d-none d-lg-block d-xl-none small">{{'ATTR_PRE' | translate}}</span>
						<span class="d-none d-xl-block">{{'ATTR_PRE' | translate}}</span>
					</div>
				</div>
			</div>
			<div class="col-1">
				<div class="card text-center">
					<div class="card-body p-0">
						<input type="text" class="form-control form-control-sm text-center border border-0 p-0" ng-model="ast">
					</div>
					<div class="card-footer text-muted p-0 fw-semibold border border-top-0 bg-transparent">
						<span class="d-sm-none small lowerTheCase">{{'AST' | translate}}</span>
						<span class="d-none d-sm-block d-lg-none">{{'AST' | translate}}</span>
						<span class="d-none d-lg-block d-xl-none small">{{'ATTR_AST' | translate}}</span>
						<span class="d-none d-xl-block">{{'ATTR_AST' | translate}}</span>
					</div>
				</div>
			</div>
			<div class="col-1">
				<div class="card text-center">
					<div class="card-body p-0">
						<input type="text" class="form-control form-control-sm text-center border border-0 p-0" ng-model="dis">
					</div>
					<div class="card-footer text-muted p-0 fw-semibold border border-top-0 bg-transparent">
						<span class="d-sm-none small lowerTheCase">{{'DIS' | translate}}</span>
						<span class="d-none d-sm-block d-lg-none">{{'DIS' | translate}}</span>
						<span class="d-none d-lg-block d-xl-none small">{{'ATTR_DIS' | translate}}</span>
						<span class="d-none d-xl-block">{{'ATTR_DIS' | translate}}</span>
					</div>
				</div>
			</div>
			<div class="col-1">
				<div class="card text-center">
					<div class="card-body p-0">
						<input type="text" class="form-control form-control-sm text-center border border-0 p-0" ng-model="per">
					</div>
					<div class="card-footer text-muted p-0 fw-semibold border border-top-0 bg-transparent">
						<span class="d-sm-none small lowerTheCase">{{'PER' | translate}}</span>
						<span class="d-none d-sm-block d-lg-none">{{'PER' | translate}}</span>
						<span class="d-none d-lg-block d-xl-none small">{{'ATTR_PER' | translate}}</span>
						<span class="d-none d-xl-block">{{'ATTR_PER' | translate}}</span>
					</div>
				</div>
			</div>
			<div class="col-1">
				<div class="card text-center">
					<div class="card-body p-0">
						<input type="text" class="form-control form-control-sm text-center border border-0 p-0" ng-model="agi">
					</div>
					<div class="card-footer text-muted p-0 fw-semibold border border-top-0 bg-transparent">
						<span class="d-sm-none small lowerTheCase">{{'AGI' | translate}}</span>
						<span class="d-none d-sm-block d-lg-none">{{'AGI' | translate}}</span>
						<span class="d-none d-lg-block d-xl-none small">{{'ATTR_AGI' | translate}}</span>
						<span class="d-none d-xl-block">{{'ATTR_AGI' | translate}}</span>
					</div>
				</div>
			</div>
			<div class="col-1">
				<div class="card text-center">
					<div class="card-body p-0">
						<input type="text" class="form-control form-control-sm text-center border border-0 p-0" ng-model="vol">
					</div>
					<div class="card-footer text-muted p-0 fw-semibold border border-top-0 bg-transparent">
						<span class="d-sm-none small lowerTheCase">{{'VOL' | translate}}</span>
						<span class="d-none d-sm-block d-lg-none">{{'VOL' | translate}}</span>
						<span class="d-none d-lg-block d-xl-none small">{{'ATTR_VOL' | translate}}</span>
						<span class="d-none d-xl-block">{{'ATTR_VOL' | translate}}</span>
					</div>
				</div>
			</div>
			<div class="col-1">
				<div class="card text-center">
					<div class="card-body p-0">
						<input type="text" class="form-control form-control-sm text-center border border-0 p-0" ng-model="forc">
					</div>
					<div class="card-footer text-muted p-0 fw-semibold border border-top-0 bg-transparent">
						<span class="d-sm-none small lowerTheCase">{{'FOR' | translate}}</span>
						<span class="d-none d-sm-block d-lg-none">{{'FOR' | translate}}</span>
						<span class="d-none d-lg-block d-xl-none small">{{'ATTR_FOR' | translate}}</span>
						<span class="d-none d-xl-block">{{'ATTR_FOR' | translate}}</span>
					</div>
				</div>
			</div>
			<div class="col-1">
				<div class="card text-center">
					<div class="card-body p-0">
						<input type="text" class="form-control form-control-sm text-center border border-0 p-0" ng-model="vig">
					</div>
					<div class="card-footer text-muted p-0 fw-semibold border border-top-0 bg-transparent">
						<span class="d-sm-none small lowerTheCase">{{'VIG' | translate}}</span>
						<span class="d-none d-sm-block d-lg-none">{{'VIG' | translate}}</span>
						<span class="d-none d-lg-block d-xl-none small">{{'ATTR_VIG' | translate}}</span>
						<span class="d-none d-xl-block">{{'ATTR_VIG' | translate}}</span>
					</div>
				</div>
			</div>
			<div class="col-1">
				<div class="card text-center border-danger">
					<div class="card-body p-0">
						<input type="text" class="form-control form-control-sm text-center border border-0 p-0" ng-model="ini">
					</div>
					<div class="card-footer text-muted p-0 fw-semibold border border-top-0 bg-transparent">
						<span class="d-sm-none small lowerTheCase">{{'INIT' | translate}}</span>
						<span class="d-none d-sm-block d-lg-none">{{'INIT' | translate}}</span>
						<span class="d-none d-lg-block d-xl-none small">{{'INITIATIVE' | translate}}</span>
						<span class="d-none d-xl-block">{{'INITIATIVE' | translate}}</span>
					</div>
				</div>
			</div>
			<div class="col-1">
				<div class="card text-center border-success">
					<div class="card-body p-0">
						<input type="text" class="form-control form-control-sm text-center border border-0 p-0" ng-model="def">
					</div>
					<div class="card-footer text-muted p-0 fw-semibold border border-top-0 bg-transparent">
						<span class="d-sm-none small lowerTheCase">{{'DEF' | translate}}</span>
						<span class="d-none d-sm-block d-lg-none">{{'DEF' | translate}}</span>
						<span class="d-none d-lg-block d-xl-none small">{{'DEFENSE' | translate}}</span>
						<span class="d-none d-xl-block">{{'DEFENSE' | translate}}</span>
					</div>
				</div>
			</div>
			<div class="col-1 p-0"></div>
			<div class="col-12 small text-light">{{'STD_ARRAY' | translate}} 15, 13, 11, 10, 10, 9, 7, 5</div>
		</div>
		<div class="row mt-1">
			<div class="col-12 col-sm text-start small">{{'XP_SPENT' | translate}} <span class="{{getSpentPointsClass()}}">{{spentXp}}</span>, {{'ATTR_POINTS_SHORT' | translate}} <span ng-bind="getSpentPoints()"></span> / 80</div>
		</div>
		<!-- Items -->
		<div class="row mt-2 pt-2 bg-white">
			<div class="col-12">
				<!-- Onglets -->
				<ul class="nav nav-tabs small">
					<li class="nav-item">
						<a class="nav-link active" href="" data-bs-toggle="tab" data-bs-target="#tab1">{{'TALENTS' | translate}}/{{'TRAITS' | translate}}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="" data-bs-toggle="tab" data-bs-target="#tab2">{{'BOONS' | translate}}/{{'BURDENS' | translate}}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="" data-bs-toggle="tab" data-bs-target="#tab3" ng-click="resizeCss()">{{'EQUIPMENT' | translate}}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="" data-bs-toggle="tab" data-bs-target="#tab4" ng-click="resizeCss()">{{'INFOS' | translate}}</a>
					</li>
				</ul>
				<!-- Contenu -->
				<div class="tab-content mt-2" id="myTabContent">
					<!-- Talents/Traits -->
					<div class="tab-pane fade show active" id="tab1" role="tabpanel" tabindex="0">
						<div class="row">
							<div class="col-12 col-lg-4" ng-repeat="talent in charTalents">
								<div class="card text-start small">
									<div class="card-body p-0">
										<ul class="list-group list-group-flush">
											<li class="list-group-item even">
												<div class="row">
													<div class="col">
														<span class="fw-semibold">{{ 'NAME' | translate }}:</span> {{ getFieldValue(talent, 'nom', lang) }}
													</div>
													<div class="col-auto">
														<button type="button" class="btn btn-link btn-sm" title="{{'DETAILS' | translate}}" data-bs-toggle="collapse" ng-attr-data-bs-target="{{ '#details' + talent.id.replace('#', '') }}">{{'DETAILS' | translate}}</button>
														<button type="button" class="btn btn-link btn-sm" title="Remove" ng-click="removeTalentFromChar(talent.id)">X</button>
													</div>
												</div>
											</li>
											<li class="list-group-item">
												<div class="row g-0">
													<div class="col"><span class="fw-semibold">Type:</span> {{ tradType(talent.type) }}</div>
													<div class="col-auto">
														<div class="form-check form-check-inline m-0">
															<input class="form-check-input" type="radio" ng-attr-name="{{ 'niveauN' + talent.id.replace('#', '') }}" value="1" ng-model="talent.niveau">
															<label class="form-check-label">{{'NOVICE_SHORT' | translate}}</label>
														</div>
														<div class="form-check form-check-inline m-0" ng-if="getFieldValue(talent, 'adepte', lang)">
															<input class="form-check-input" type="radio" ng-attr-name="{{ 'niveauA' + talent.id.replace('#', '') }}" value="3" ng-model="talent.niveau">
															<label class="form-check-label">A</label>
														</div>
														<div class="form-check form-check-inline m-0" ng-if="getFieldValue(talent, 'maitre', lang)">
															<input class="form-check-input" type="radio" ng-attr-name="{{ 'niveauM' + talent.id.replace('#', '') }}" value="6" ng-model="talent.niveau">
															<label class="form-check-label">M</label>
														</div>
													</div>
												</div>
											</li>
											<div class="collapse" ng-attr-id="{{ 'details' + talent.id.replace('#', '') }}">
												<li class="list-group-item py-1 pl-2" ng-if="afficherDetailsTalents && getFieldValue(talent, 'source', lang)"><span ng-bind-html="getFieldValue(talent, 'source', lang)"></span></li>
												<li class="list-group-item" ng-if="getFieldValue(talent, 'tradition', lang)">{{ getFieldValue(talent, 'tradition', lang) }}</li>
												<li class="list-group-item" ng-if="getFieldValue(talent, 'description', lang)">{{ getFieldValue(talent, 'description', lang) }}</li>
												<li class="list-group-item" ng-if="getFieldValue(talent, 'novice', lang)">
													<span ng-bind-html="getFieldValue(talent, 'novice', lang)"></span>
												</li>
												<li class="list-group-item" ng-if="getFieldValue(talent, 'adepte', lang)">
													<span ng-bind-html="getFieldValue(talent, 'adepte', lang)"></span>
												</li>
												<li class="list-group-item" ng-if="getFieldValue(talent, 'maitre', lang)">
													<span ng-bind-html="getFieldValue(talent, 'maitre', lang)"></span>
												</li>
											</div>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="d-grid">
									<button class="btn btn-sm btn-symb border" type="button" data-bs-toggle="modal" data-bs-target="#searchTab1">{{'ADD' | translate}}</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Atouts/Fardeaux -->
					<div class="tab-pane fade" id="tab2" role="tabpanel" tabindex="0">
						<div class="row">
							<div class="col-12 col-lg-4" ng-repeat="traitBoonBurden in charTraitsBoonsBurdens">
								<div class="card text-start small">
									<div class="card-body p-0">
										<ul class="list-group list-group-flush">
											<li class="list-group-item even">
												<div class="row">
													<div class="col">
														<span class="fw-semibold">{{ 'NAME' | translate }}:</span> {{ getFieldValue(traitBoonBurden, 'nom', lang) }}
													</div>
													<div class="col-auto">
														<button type="button" class="btn btn-link btn-sm" title="{{'DETAILS' | translate}}" data-bs-toggle="collapse" ng-attr-data-bs-target="{{ '#details' + traitBoonBurden.id.replace('#', '') }}">{{'DETAILS' | translate}}</button>
														<button type="button" class="btn btn-link btn-sm" title="Remove" ng-click="removeTraitBoonBurdenFromChar(traitBoonBurden.id)">X</button>
													</div>
												</div>
											</li>
											<li class="list-group-item">
												<div class="row g-0">
													<div class="col"><span class="fw-semibold">Type:</span> {{ tradType(traitBoonBurden.type) }}</div>
													<div class="col-auto">
														<div class="form-check form-check-inline m-0">
															<input class="form-check-input" type="radio" ng-attr-name="{{ 'niveauN' + traitBoonBurden.id.replace('#', '') }}" value="1" ng-model="traitBoonBurden.niveau">
															<label class="form-check-label">{{'NOVICE_SHORT' | translate}}</label>
														</div>
														<div class="form-check form-check-inline m-0" ng-if="getFieldValue(traitBoonBurden, 'adepte', lang)">
															<input class="form-check-input" type="radio" ng-attr-name="{{ 'niveauA' + traitBoonBurden.id.replace('#', '') }}" value="3" ng-model="traitBoonBurden.niveau">
															<label class="form-check-label">A</label>
														</div>
														<div class="form-check form-check-inline m-0" ng-if="getFieldValue(traitBoonBurden, 'maitre', lang)">
															<input class="form-check-input" type="radio" ng-attr-name="{{ 'niveauM' + traitBoonBurden.id.replace('#', '') }}" value="6" ng-model="traitBoonBurden.niveau">
															<label class="form-check-label">M</label>
														</div>
													</div>
												</div>
											</li>
											<div class="collapse" ng-attr-id="{{ 'details' + traitBoonBurden.id.replace('#', '') }}">
												<li class="list-group-item py-1 pl-2" ng-if="afficherDetailsTalents && getFieldValue(traitBoonBurden, 'source', lang)"><span ng-bind-html="getFieldValue(traitBoonBurden, 'source', lang)"></span></li>
												<li class="list-group-item" ng-if="getFieldValue(traitBoonBurden, 'novice', lang)">
													<span ng-bind-html="getFieldValue(traitBoonBurden, 'novice', lang)"></span>
												</li>
												<li class="list-group-item" ng-if="getFieldValue(traitBoonBurden, 'adepte', lang)">
													<span ng-bind-html="getFieldValue(traitBoonBurden, 'adepte', lang)"></span>
												</li>
												<li class="list-group-item" ng-if="getFieldValue(traitBoonBurden, 'maitre', lang)">
													<span ng-bind-html="getFieldValue(traitBoonBurden, 'maitre', lang)"></span>
												</li>
											</div>
										</ul>
									</div>
								</div>
							</div>
							<div class="col-12 col-md-4">
								<div class="d-grid">
									<button class="btn btn-sm btn-symb border" type="button" data-bs-toggle="modal" data-bs-target="#searchTab2">{{'ADD' | translate}}</button>
								</div>
							</div>
						</div>
					</div>
					<!-- Armes/Armures/Inventaire -->
					<div class="tab-pane fade" id="tab3" role="tabpanel" tabindex="0">
						<div class="row">
							<div class="col-12 col-lg-6">
								<div class="row"><h5>{{'ARMES' | translate}}</h5></div>
								<div class="row mb-1" ng-repeat="weapon in charWeapons">
									<div class="col">
										<textarea class="form-control auto-size" ng-keyup="resize($event)" ng-model="weapon.value"></textarea>
									</div>
									<div class="col-auto">
										<button type="button" class="btn btn-link btn-sm" title="Remove" ng-click="removeWeapon($index)">X</button>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="d-grid">
											<button class="btn btn-sm btn-symb border" type="button" data-bs-toggle="modal" data-bs-target="#searchTab3">{{'ADD' | translate}}</button>
										</div>
									</div>
									<div class="col-6">
										<div class="d-grid">
											<button class="btn btn-sm btn-symb border" type="button" ng-click="addCustomWeapon()">{{'ADD_CUSTOM' | translate}}</button>
										</div>
									</div>
								</div>
								<div class="row mt-2"><h5 class="capitalize">{{'TYPE_ARMURE' | translate}}s</h5></div>
								<div class="row mb-1" ng-repeat="armor in charArmors">
									<div class="col">
										<textarea class="form-control auto-size" ng-keyup="resize($event)" ng-model="armor.value"></textarea>
									</div>
									<div class="col-auto">
										<button type="button" class="btn btn-link btn-sm" title="Remove" ng-click="removeArmor($index)">X</button>
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<div class="d-grid">
											<button class="btn btn-sm border btn-symb" type="button" data-bs-toggle="modal" data-bs-target="#searchTab3b">{{'ADD' | translate}}</button>
										</div>
									</div>
									<div class="col-6">
										<div class="d-grid">
											<button class="btn btn-sm border btn-symb" type="button" ng-click="addCustomArmor()">{{'ADD_CUSTOM' | translate}}</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="form-group">
									<label for="equipmentTextArea"><h5>{{'EQUIPMENT' | translate}}</h5></label>
									<textarea class="form-control auto-size" id="equipmentTextArea" ng-keyup="resize($event)" ng-model="equipment"></textarea>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade" id="tab4" role="tabpanel" tabindex="0">
						<div class="row mt-2">
							<div class="col-12 col-lg-6">
								<div class="form-group">
									<label for="shadowTextArea"><h5>{{'SHADOW' | translate}}</h5></label>
									<textarea class="form-control auto-size" id="shadowTextArea" ng-keyup="resize($event)" ng-model="shadow"></textarea>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="form-group">
									<label for="tacticsTextArea"><h5>{{'TACTICS' | translate}}</h5></label>
									<textarea class="form-control auto-size" id="tacticsTextArea" ng-keyup="resize($event)" ng-model="tactics"></textarea>
								</div>
							</div>
						</div>
						<div class="row mt-2">
							<div class="col-12 col-lg-6">
								<div class="form-group">
									<label for="bgTextArea"><h5>{{'BG' | translate}}</h5></label>
									<textarea class="form-control auto-size" id="bgTextArea" ng-keyup="resize($event)" ng-model="bg"></textarea>
								</div>
							</div>
							<div class="col-12 col-lg-6">
								<div class="form-group">
									<label for="notesTextArea"><h5>{{'NOTES' | translate}}</h5></label>
									<textarea class="form-control auto-size" id="notesTextArea" ng-keyup="resize($event)" ng-model="notes"></textarea>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<!-- Modal sélection talents -->
    <div class="modal fade" id="searchTab1" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content p-2">
				<div class="sticky-top bg-white">
					<div class="modal-header p-1">
						<div class="input-group input-group-sm">
							<div class="form-check form-switch form-check-inline">
								<input class="form-check-input" type="checkbox" value="" id="afficherDetailsTalents" ng-model="afficherDetailsTalents">
								<label class="form-check-label small" for="afficherDetailsTalents">{{'DISPLAY_DETAILS' | translate}}</label>
							</div>
						</div>
						<div class="input-group input-group-sm">
							<div class="form-check form-switch form-check-inline">
								<input class="form-check-input" type="checkbox" value="" id="afficherDescriptionTalents" ng-model="afficherDescriptionTalents">
								<label class="form-check-label small" for="afficherDescriptionTalents">{{'DISP_DESC' | translate}}</label>
							</div>
						</div>
						<div class="input-group input-group-sm">
							<label class="input-group-text">{{'REGLES' | translate}}</label>
							<select class="form-select" ng-model="rulesSet">
								<option value="">{{'BOOK_LDB' | translate}}</option>
								<option value="_31">3.0 (Marco Pagnini)</option>
							</select>
						</div>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="row">
						<div class="col-12">
							<div class="input-group input-group-sm" title="{{'SEARCH_TITLE' | translate}}">
								<span class="input-group-text">{{'SEARCH' | translate}}</span>
								<input type="text" class="form-control" ng-model="filtreNomTalent">
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-3">
							<div class="input-group input-group-sm">
								<select class="form-select" ng-model="filtreType">
									<option value="talent">🏆 {{'TYPE_TALENT' | translate}}</option>
									<option value="pouvoir mystique">🔮 {{'TYPE_POUVOIR_MYSTIQUE' | translate}}</option>
									<option value="rituel">📖 {{'TYPE_RITUEL' | translate}}</option>
									<option value="trait monstrueux">🦄 {{'TYPE_TRAIT_MONSTRUEUX' | translate}}</option>
									<option value="trait">🧬 {{'TYPE_TRAIT' | translate}}</option>
								</select>
							</div>
						</div>
						<div class="col-3">
							<div class="input-group input-group-sm ">
								<select class="form-select" ng-model="filtreLivre">
									<option value="tous">{{'BOOK_TOUS' | translate}}</option>
									<option value="ldb">{{'BOOK_LDB' | translate}}</option>
									<option value="gdj">{{'BOOK_GDJ' | translate}}</option>
									<option value="cdx">{{'BOOK_CDX' | translate}}</option>
									<option value="adv">{{'BOOK_ADV' | translate}}</option>
									<option value="fanmade">Fan-Made</option>
								</select>
							</div>
						</div>
						<div class="col-3">
							<div class="input-group input-group-sm">
								<select class="form-select" ng-model="filtreTrad">
									<option value="tous">{{'TRAD_TOUS' | translate}}</option>
									<option value="aucune">{{'TRAD_AUCUNE' | translate}}</option>
									<option value="{{'TRAD_GUERRIER' | translate}}">{{'TRAD_GUERRIER' | translate}}</option>
									<option value="{{'TRAD_MYSTIQUE' | translate}}">{{'TRAD_MYSTIQUE' | translate}}</option>
									<option value="{{'TRAD_ROUBLARD' | translate}}">{{'TRAD_ROUBLARD' | translate}}</option>
									<option value="{{'TRAD_CHASSEUR' | translate}}">{{'TRAD_CHASSEUR' | translate}}</option>
									<option value="{{'TRAD_MAGIE' | translate}}">{{'TRAD_MAGIE' | translate}}</option>
									<option value="{{'TRAD_THEURGIE' | translate}}">{{'TRAD_THEURGIE' | translate}}</option>
									<option value="{{'TRAD_SORCELLERIE' | translate}}">{{'TRAD_SORCELLERIE' | translate}}</option>
									<option value="{{'TRAD_CONJURATION' | translate}}">{{'TRAD_CONJURATION' | translate}}</option>
									<option value="{{'TRAD_TROLLS' | translate}}">{{'TRAD_TROLLS' | translate}}</option>
									<option value="{{'TRAD_SYMBOLISME' | translate}}">{{'TRAD_SYMBOLISME' | translate}}</option>
									<option value="{{'TRAD_BATON' | translate}}">{{'TRAD_BATON' | translate}}</option>
									<option value="{{'TRAD_BLESSING' | translate}}">{{'TRAD_BLESSING' | translate}}</option>
								</select>
							</div>
						</div>
						<div class="col-3">
							<div class="input-group input-group-sm">
								<select class="form-select" ng-model="filtreAttr">
									<option value="tous">{{'ATTR_TOUS' | translate}}</option>
									<option value="AGI">{{'ATTR_AGI' | translate}}</option>
									<option value="AGI <- FOR">{{'ATTR_AGIFOR' | translate}}</option>
									<option value="AST">{{'ATTR_AST' | translate}}</option>
									<option value="AST <- AGI">{{'ATTR_ASTAGI' | translate}}</option>
									<option value="AST <- AST">{{'ATTR_ASTAST' | translate}}</option>
									<option value="AST <- FOR">{{'ATTR_ASTFOR' | translate}}</option>
									<option value="DIS">{{'ATTR_DIS' | translate}}</option>
									<option value="DIS <- VIG">{{'ATTR_DISVIG' | translate}}</option>
									<option value="FOR">{{'ATTR_FOR' | translate}}</option>
									<option value="FOR <- AGI">{{'ATTR_FORAGI' | translate}}</option>
									<option value="FOR <- FOR">{{'ATTR_FORFOR' | translate}}</option>
									<option value="PER">{{'ATTR_PER' | translate}}</option>
									<option value="PER <- VOL">{{'ATTR_PERVOL' | translate}}</option>
									<option value="PRE <- AGI">{{'ATTR_PREAGI' | translate}}</option>
									<option value="PRE <- FOR">{{'ATTR_PREFOR' | translate}}</option>
									<option value="PRE <- VOL">{{'ATTR_PREVOL' | translate}}</option>
									<option value="VIG">{{'ATTR_VIG' | translate}}</option>
									<option value="VOL">{{'ATTR_VOL' | translate}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-1">
					<div class="col-lg-6 mt-1"
						ng-repeat="(key, talent) in talents | rechercheFilter:{nom: filtreNomTalent, epingleSeulement: false,
							filtreType: filtreType, filtreLivre: filtreLivre, filtreTrad: filtreTrad, filtreAttr: filtreAttr, lang: lang}" ng-if="filtreType == talent.type">
						<div class="card h-100" >
							<div class="card-header small">
								<div class="row">
									<div class="col">{{ getFieldValue(talent, 'nom', lang) }}{{talent.mod}}</div>
									<div class="col-auto">
										<button type="button" class="btn btn-light btn-sm" title="ADD" ng-click="addTalentToChar(talent)">
											{{'ADD' | translate}}
										</button>
									</div>
								</div>
							</div>
							<ul class="list-group list-group-flush small">
								<li class="list-group-item" ng-if="afficherDescriptionTalents && getFieldValue(talent, 'description', lang)">
									<i><span ng-bind-html="getFieldValue(talent, 'description', lang)"></span></i>
								</li>
								<li class="list-group-item py-1 pl-2" ng-if="afficherDetailsTalents && getFieldValue(talent, 'source', lang)"><span ng-bind-html="getFieldValue(talent, 'source', lang)"></span></li>
								<li class="list-group-item py-1 pl-2" ng-if="afficherDetailsTalents && getFieldValue(talent, 'tradition', lang)">{{ getFieldValue(talent, 'tradition', lang) }}</li>
								<li class="list-group-item py-1" ng-if="afficherDetailsTalents && getFieldValue(talent, 'novice', lang)">
									<span ng-bind-html="getFieldValue(talent, 'novice', lang)"></span>
								</li>
								<li class="list-group-item py-1" ng-if="afficherDetailsTalents && getFieldValue(talent, 'adepte', lang)">
									<span ng-bind-html="getFieldValue(talent, 'adepte', lang)"></span>
								</li>
								<li class="list-group-item py-1" ng-if="afficherDetailsTalents && getFieldValue(talent, 'maitre', lang)">
									<span ng-bind-html="getFieldValue(talent, 'maitre', lang)"></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
	<!-- Modal sélection atouts/fardeaux -->
    <div class="modal fade" id="searchTab2" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content p-2">
				<div class="sticky-top bg-white">
					<div class="modal-header p-1">
						<div class="input-group input-group-sm">
							<div class="form-check form-switch form-check-inline">
								<input class="form-check-input" type="checkbox" value="" id="afficherDetailsBB" ng-model="afficherDetailsBB">
								<label class="form-check-label small" for="afficherDetailsBB">{{'DISPLAY_DETAILS' | translate}}</label>
							</div>
						</div>
						<div class="input-group input-group-sm">
							<label class="input-group-text">{{'REGLES' | translate}}</label>
							<select class="form-select" ng-model="rulesSet">
								<option value="">{{'BOOK_LDB' | translate}}</option>
								<option value="_31">3.0 (Marco Pagnini)</option>
							</select>
						</div>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="input-group input-group-sm" title="{{'SEARCH_TITLE' | translate}}">
								<span class="input-group-text">{{'SEARCH' | translate}}</span>
								<input type="text" class="form-control" ng-model="filtreNomTab2">
							</div>
						</div>
						<div class="col-3">
							<div class="input-group input-group-sm">
								<select class="form-select" ng-model="filtreTypeTab2">
									<option value="atout">💪 {{'TYPE_ATOUT' | translate}}</option>
									<option value="fardeau">🎱 {{'TYPE_FARDEAU' | translate}}</option>
								</select>
							</div>
						</div>
						<div class="col-3">
							<div class="input-group input-group-sm ">
								<select class="form-select" ng-model="filtreLivre">
									<option value="tous">{{'BOOK_TOUS' | translate}}</option>
									<option value="ldb">{{'BOOK_LDB' | translate}}</option>
									<option value="gdj">{{'BOOK_GDJ' | translate}}</option>
									<option value="cdx">{{'BOOK_CDX' | translate}}</option>
									<option value="adv">{{'BOOK_ADV' | translate}}</option>
									<option value="fanmade">Fan-Made</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-1">
					<div class="col-lg-6 mt-1"
						ng-repeat="(key, talent) in talents | rechercheFilter:{nom: filtreNomTab2, epingleSeulement: false,
							filtreType: filtreTypeTab2, filtreLivre: filtreLivre, filtreTrad: filtreTrad, filtreAttr: filtreAttr, lang: lang}">
						<div class="card h-100">
							<div class="card-header small">
								<div class="row">
									<div class="col">{{ getFieldValue(talent, 'nom', lang) }}{{talent.mod}}</div>
									<div class="col-auto">
										<button type="button" class="btn btn-light btn-sm" title="ADD" ng-click="addTraitBoonBurdenToChar(talent)">
											{{'ADD' | translate}}
										</button>
									</div>
								</div>
							</div>
							<ul class="list-group list-group-flush small" ng-if="afficherDetailsBB">
								<li class="list-group-item py-1 pl-2" ng-if=" getFieldValue(talent, 'source', lang)"><span ng-bind-html="getFieldValue(talent, 'source', lang)"></span></li>
								<li class="list-group-item py-1" ng-if="getFieldValue(talent, 'novice', lang)">
									<span ng-bind-html="getFieldValue(talent, 'novice', lang)"></span>
								</li>
								<li class="list-group-item py-1" ng-if="getFieldValue(talent, 'adepte', lang)">
									<span ng-bind-html="getFieldValue(talent, 'adepte', lang)"></span>
								</li>
								<li class="list-group-item py-1" ng-if="getFieldValue(talent, 'maitre', lang)">
									<span ng-bind-html="getFieldValue(talent, 'maitre', lang)"></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
	<!-- Modal sélection armes -->
    <div class="modal fade" id="searchTab3" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content p-2">
				<div class="sticky-top bg-white">
					<div class="modal-header p-1">
						<div class="input-group input-group-sm">
							<div class="form-check form-switch form-check-inline">
								<input class="form-check-input" type="checkbox" value="" id="afficherDetailsArmes" ng-model="afficherDetailsArmes">
								<label class="form-check-label small" for="afficherDetailsArmes">{{'DISPLAY_DETAILS' | translate}}</label>
							</div>
						</div>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="input-group input-group-sm" title="{{'SEARCH_TITLE' | translate}}">
								<span class="input-group-text">{{'SEARCH' | translate}}</span>
								<input type="text" class="form-control" ng-model="filtreNomTab3">
							</div>
						</div>
						<div class="col-3">
							<div class="input-group input-group-sm">
								<select class="form-select" ng-model="filtreTypeTab3">
									<option value="arme">⚔ {{'TYPE_ARME' | translate}}</option>
								</select>
							</div>
						</div>
						<div class="col-3">
							<div class="input-group input-group-sm ">
								<select class="form-select" ng-model="filtreLivre">
									<option value="tous">{{'BOOK_TOUS' | translate}}</option>
									<option value="ldb">{{'BOOK_LDB' | translate}}</option>
									<option value="gdj">{{'BOOK_GDJ' | translate}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-1">
					<div class="col-lg-6 mt-1"
						ng-repeat="(key, talent) in talents | rechercheFilter:{nom: filtreNomTab3, epingleSeulement: false,
							filtreType: filtreTypeTab3, filtreLivre: filtreLivre, filtreTrad: filtreTrad, filtreAttr: filtreAttr, lang: lang}">
						<div class="card h-100">
							<div class="card-header small">
								<div class="row">
									<div class="col">{{ getFieldValue(talent, 'nom', lang) }}{{talent.mod}}</div>
									<div class="col-auto">
										<button type="button" class="btn btn-light btn-sm" title="ADD" ng-click="addWeapon(talent)">
											{{'ADD' | translate}}
										</button>
									</div>
								</div>
							</div>
							<ul class="list-group list-group-flush small" ng-if="afficherDetailsArmes">
								<li class="list-group-item py-1 pl-2" ng-if="getFieldValue(talent, 'source', lang)"><span ng-bind-html="getFieldValue(talent, 'source', lang)"></span></li>
								<li class="list-group-item py-1 pl-2" ng-if="getFieldValue(talent, 'tradition', lang)">{{ getFieldValue(talent, 'tradition', lang) }}</li>
								<li class="list-group-item py-1" ng-if="getFieldValue(talent, 'novice', lang)">
									<span ng-bind-html="getFieldValue(talent, 'novice', lang)"></span>
								</li>
								<li class="list-group-item py-1" ng-if="getFieldValue(talent, 'adepte', lang)">
									<span ng-bind-html="getFieldValue(talent, 'adepte', lang)"></span>
								</li>
								<li class="list-group-item py-1" ng-if="getFieldValue(talent, 'maitre', lang)">
									<span ng-bind-html="getFieldValue(talent, 'maitre', lang)"></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
	<!-- Modal sélection armures -->
    <div class="modal fade" id="searchTab3b" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content p-2">
				<div class="sticky-top bg-white">
					<div class="modal-header p-1">
						<div class="input-group input-group-sm">
							<div class="form-check form-switch form-check-inline">
								<input class="form-check-input" type="checkbox" value="" id="afficherDetailsArmures" ng-model="afficherDetailsArmures">
								<label class="form-check-label small" for="afficherDetailsArmures">{{'DISPLAY_DETAILS' | translate}}</label>
							</div>
						</div>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="row">
						<div class="col-6">
							<div class="input-group input-group-sm" title="{{'SEARCH_TITLE' | translate}}">
								<span class="input-group-text">{{'SEARCH' | translate}}</span>
								<input type="text" class="form-control" ng-model="filtreNomTab3b">
							</div>
						</div>
						<div class="col-3">
							<div class="input-group input-group-sm">
								<select class="form-select" ng-model="filtreTypeTab3b">
									<option value="armure">⚔ {{'TYPE_ARMURE' | translate}}</option>
								</select>
							</div>
						</div>
						<div class="col-3">
							<div class="input-group input-group-sm ">
								<select class="form-select" ng-model="filtreLivre">
									<option value="tous">{{'BOOK_TOUS' | translate}}</option>
									<option value="ldb">{{'BOOK_LDB' | translate}}</option>
									<option value="gdj">{{'BOOK_GDJ' | translate}}</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-1">
					<div class="col-lg-6 mt-1"
						ng-repeat="(key, talent) in talents | rechercheFilter:{nom: filtreNomTab3b, epingleSeulement: false,
							filtreType: filtreTypeTab3b, filtreLivre: filtreLivre, filtreTrad: filtreTrad, filtreAttr: filtreAttr, lang: lang}">
						<div class="card h-100">
							<div class="card-header small">
								<div class="row">
									<div class="col">{{ getFieldValue(talent, 'nom', lang) }}{{talent.mod}}</div>
									<div class="col-auto">
										<button type="button" class="btn btn-light btn-sm" title="ADD" ng-click="addArmor(talent)">
											{{'ADD' | translate}}
										</button>
									</div>
								</div>
							</div>
							<ul class="list-group list-group-flush small" ng-if="afficherDetailsArmures">
								<li class="list-group-item py-1 pl-2" ng-if="getFieldValue(talent, 'source', lang)"><span ng-bind-html="getFieldValue(talent, 'source', lang)"></span></li>
								<li class="list-group-item py-1 pl-2" ng-if="getFieldValue(talent, 'tradition', lang)">{{ getFieldValue(talent, 'tradition', lang) }}</li>
								<li class="list-group-item py-1" ng-if="getFieldValue(talent, 'novice', lang)">
									<span ng-bind-html="getFieldValue(talent, 'novice', lang)"></span>
								</li>
								<li class="list-group-item py-1" ng-if="getFieldValue(talent, 'adepte', lang)">
									<span ng-bind-html="getFieldValue(talent, 'adepte', lang)"></span>
								</li>
								<li class="list-group-item py-1" ng-if="getFieldValue(talent, 'maitre', lang)">
									<span ng-bind-html="getFieldValue(talent, 'maitre', lang)"></span>
								</li>
							</ul>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
	<!-- Modal import JSON -->
    <div class="modal fade" id="importJson" tabindex="-1" role="dialog" aria-labelledby="importJsonModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="importJsonModalLabel">{{'IMPORT_JSON' | translate}}</h5>
                </div>
                <div class="modal-body">
                    <input id="importer" type="file" class="form-control-file" on-read-file="importer($fileContent)" data-bs-dismiss="modal">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">{{'PAN_CLOSE' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
	<!-- Modal exports -->
    <div class="modal fade" id="save" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="saveModalLabel">{{'EXPORT' | translate}}</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-5">{{'EXPORT_TITLE' | translate}}</div>
                        <div class="col-7"><a href="_blank" data-bs-dismiss="modal" ng-click="exporter()">{{'DOWNLOAD' | translate}}</a></div>
                    </div>
                    <!--<div class="row">
                        <div class="col-5">{{'FOUNDRY_EXPORT_TITLE' | translate}}</div>
                        <div class="col-7"><a href="" ng-click="copyToClipboard()">{{'FOUNDRY_EXPORT' | translate}}</a><span id="copied"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <br/><br/><i>Symbaroum FoundryVTT: <a href="https://foundryvtt.com/packages/symbaroum" target="_blank">https://foundryvtt.com/packages/symbaroum</a></i>
                        </div>
                    </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">{{'PAN_CLOSE' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
	<!-- Modal Stat Block -->
    <div class="modal fade" id="sheet" tabindex="-1" role="dialog" aria-labelledby="sheetModalLabel" aria-hidden="true" style="font-size: 0.7em;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="sheetModalLabel">Stat Block</h5>
                    <button type="button" class="btn btn-sm btn-secondary" ng-click="statBlockProps.newTab()">{{'NEW_TAB' | translate}}</button>
                </div>
                <div class="modal-body">
                    <div class="row py-2">
                        <div class="col-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="" id="hideAbilities" ng-model="statBlockProps.hideAbilities">
                                <label class="form-check-label small" for="hideAbilities">{{'HIDE_ABILITIES' | translate}}</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" ng-model="statBlockProps.manageIntegrated">
                                <label class="form-check-label small" for="">{{'MANAGE_INTEGRATED' | translate}}</label>
                            </div>
                            <div ng-repeat="(talent, boolIntegrated) in statBlockProps.integrated" class="form-check form-check-inline" ng-show="statBlockProps.manageIntegrated">
                                <input class="form-check-input" type="checkbox" value="" id="" ng-model="statBlockProps.integrated[talent]">
                                <label class="form-check-label small" for="">{{talent}}</label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <br/>
                    <div class="row">
                        <div class="col-{{statBlockProps.getStatBlockColumnsNb()}}">
                            <table id="statBlock" width="100%">
                                <thead>
                                    <tr>
                                        <th colspan="8" class="bb" ng-bind="statBlockProps.getDefault(nom)" style="padding-top: 15px;"></th>
                                    </tr>
                                    <tr>
                                        <th colspan="8" ng-bind="statBlockProps.getDefault(typ)" style="padding-bottom: 15px;"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="topRows">
                                        <td class="br">{{'PRE' | translate}}</td>
                                        <td class="br">{{'AST' | translate}}</td>
                                        <td class="br">{{'DIS' | translate}}</td>
                                        <td class="br">{{'PER' | translate}}</td>
                                        <td class="br">{{'AGI' | translate}}</td>
                                        <td class="br">{{'VOL' | translate}}</td>
                                        <td class="br">{{'FOR' | translate}}</td>
                                        <td>{{'VIG' | translate}}</td>
                                    </tr>
                                    <tr class="topRows bbb">
                                        <td class="br"><b ng-bind="statBlockProps.getDefault(pre)"></b></td>
                                        <td class="br"><b ng-bind="statBlockProps.getDefault(ast)"></b></td>
                                        <td class="br"><b ng-bind="statBlockProps.getDefault(dis)"></b></td>
                                        <td class="br"><b ng-bind="statBlockProps.getDefault(per)"></b></td>
                                        <td class="br"><b ng-bind="statBlockProps.getDefault(agi)"></b></td>
                                        <td class="br"><b ng-bind="statBlockProps.getDefault(vol)"></b></td>
                                        <td class="br"><b ng-bind="statBlockProps.getDefault(forc)"></b></td>
                                        <td><b ng-bind="statBlockProps.getDefault(vig)"></b></td>
                                    </tr>
                                    <tr class="topRows">
                                        <td class="br" colspan="2">{{'DEFENSE' | translate}}</td>
                                        <td class="br" colspan="2">{{'ARMURE' | translate}}</td>
                                        <td class="br" colspan="2">{{'ENDURANCE' | translate}}</td>
                                        <td colspan="2">{{'RES_DOUL' | translate}}</td>
                                    </tr>
                                    <tr class="topRows">
                                        <td class="br bbb" colspan="2"><b ng-bind="statBlockProps.getDefault(def)"></b></td>
                                        <td class="br bbb" colspan="2"><b ng-bind="statBlockProps.getArmors()"></b></td>
                                        <td class="br bbb" colspan="2"><b ng-bind="statBlockProps.getDefault(end)"></b></td>
                                        <td class="bbb" colspan="2"><b ng-bind="statBlockProps.getDefault(sd)"></b></td>
                                    </tr>
                                    <tr class="bbb even botRows">
                                        <td colspan="2"><b>{{'ARMES' | translate}}</b></td>
                                        <td colspan="6" ng-bind="statBlockProps.getWeapons()"></td>
                                    </tr>
                                    <tr class="bbb odd botRows">
                                        <td colspan="2"><b>{{'INTEGRATED' | translate}}</b></td>
                                        <td colspan="6" ng-bind="statBlockProps.getIntegrated()"></td>
                                    </tr>
                                    <tr class="bbb even botRows">
                                        <td colspan="2"><b>{{'TALENTS' | translate}}</b></td>
                                        <td colspan="6" ng-bind="statBlockProps.getAbilities()"></td>
                                    </tr>
                                    <tr class="bbb odd botRows">
                                        <td colspan="2"><b>{{'TRAITS' | translate}}</b></td>
                                        <td colspan="6" ng-bind="statBlockProps.getTraits()"></td>
                                    </tr>
                                    <tr class="bbb even botRows">
                                        <td colspan="2"><b>{{'EQUIPMENT' | translate}}</b></td>
                                        <td colspan="6" ng-bind="statBlockProps.getDefault(equipment)"></td>
                                    </tr>
                                    <tr class="bbb odd botRows">
                                        <td colspan="2"><b>{{'SHADOW' | translate}}</b></td>
                                        <td colspan="6" ng-bind="statBlockProps.getDefault(shadow)"></td>
                                    </tr>
                                    <tr class="bbb even botRows">
                                        <td colspan="2"><b>{{'TACTICS' | translate}}</b></td>
                                        <td colspan="6" ng-bind="statBlockProps.getDefault(tactics)"></td>
                                    </tr>
                                    <tr class="odd botRows">
                                        <td colspan="2"><b>{{'NOTES' | translate}}</b></td>
                                        <td colspan="6" ng-bind="statBlockProps.getDefault(notes)"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-6" ng-show="!statBlockProps.hideAbilities">
                            <span ng-bind-html="statBlockProps.abilitiesTexts"></span>
                        </div>
                    </div>
                    <br/>
                    <br/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">{{'PAN_CLOSE' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
	<!-- Modal artifact -->
    <div class="modal fade" id="addModArtifact" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="saveModalLabel">{{'EXPORT' | translate}}</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-5">{{'EXPORT_TITLE' | translate}}</div>
                        <div class="col-7"><a href="_blank" data-bs-dismiss="modal" ng-click="exporter()">{{'DOWNLOAD' | translate}}</a></div>
                    </div>
                    <!--<div class="row">
                        <div class="col-5">{{'FOUNDRY_EXPORT_TITLE' | translate}}</div>
                        <div class="col-7"><a href="" ng-click="copyToClipboard()">{{'FOUNDRY_EXPORT' | translate}}</a><span id="copied"></span></div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <br/><br/><i>Symbaroum FoundryVTT: <a href="https://foundryvtt.com/packages/symbaroum" target="_blank">https://foundryvtt.com/packages/symbaroum</a></i>
                        </div>
                    </div>-->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">{{'PAN_CLOSE' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
	<!-- Canvas load PC/NPC -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="pcNpcCanvas">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasLabel">{{ 'MY_PC_NPC' | translate }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p ng-repeat="pcNpcName in myPcNpcArr">
                <a href="" ng-click="loadPcNpc(pcNpcName)">{{pcNpcName}}</a>
                <a href="" ng-click="deletePcNpc(pcNpcName)">🔪</a>
            </p>
        </div>
    </div>
</div>