<!-- TODO Traduction + champs commentaire par ligne + champ Tour + Case à cocher chaque ligne + Bouton pour tout décocher -->
<section class="init">
	<div class="alert alert-success" role="alert" style="margin-top:2px;">
		La fonction de tri permet de trier automatiquement dans cet ordre de priorité : Ordre d'init (asc.), Agilité (desc.), Vigilance (desc.).
	</div>

	<div class="row" style="margin-top:2px;">
		<div class="col-12">
			<button type="button" class="btn btn-dark btn-sm" ng-click="ajouter()">
				{{'AJOUT_ACTEUR' | translate}}</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-dark btn-sm" ng-click="trier()">
				{{'SORT_INIT' | translate}}
			</button>&nbsp;&nbsp;
			<button type="button" class="btn btn-dark btn-sm" ng-click="encoder()" data-bs-toggle="modal" data-bs-target="#b64" title="B64">{{'B64' | translate}}</button>
		</div>
	</div>
	<div class="row font-weight-bold" style="margin-top:5px;">
		<div class="col-lg-1 col-md-2">
			<div class="input-group input-group-sm">Ordre d'init</div>
		</div>
		<div class="col-lg-1 col-md-2">
			<div class="input-group input-group-sm col-lg-1 col-md-2">Agilité</div>
		</div>
		<div class="col-lg-1 col-md-2">
			<div class="input-group input-group-sm col-lg-1 col-md-2">Vigilance</div>
		</div>
		<div class="col-lg-2 col-md-4">
			<div class="input-group input-group-sm">Nom PJ/PNJ</div>
		</div>
		<div class="col-lg-1 col-md-2">
			<div class="input-group input-group-sm">Endurance</div>
		</div>
		<div class="col-6 d-none d-lg-flex">
			<div class="input-group input-group-sm"></div>
		</div>
	</div>
	<div class="row" style="margin-top:2px;" ng-repeat="actor in data.actors">
		<div class="col-lg-1 col-md-2">
			<div class="input-group input-group-sm">
				<div class="input-group-text">Ordre</div>
				<input type="text" class="form-control" ng-model="actor.init" />
			</div>
		</div>
		<div class="col-lg-1 col-md-2">
			<div class="input-group input-group-sm">
				<div class="input-group-text">AGI</div>
				<input type="text" class="form-control" ng-model="actor.agi" />
			</div>
		</div>
		<div class="col-lg-1 col-md-2">
			<div class="input-group input-group-sm">
				<div class="input-group-text">VIG</div>
				<input type="text" class="form-control" ng-model="actor.vig" />
			</div>
		</div>
		<div class="col-lg-2 col-md-4">
			<div class="input-group input-group-sm">
				<div class="input-group-text">Nom</div>
				<input type="text" class="form-control" ng-model="actor.name" />
			</div>
		</div>
		<div class="col-lg-1 col-md-2">
			<div class="input-group input-group-sm">
				<div class="input-group-text">END</div>
				<input type="text" class="form-control" ng-model="actor.endurance" />
			</div>
		</div>
		<div class="col-6 d-none d-lg-flex">
			<div class="input-group input-group-sm">
				<a class="text-alert" ng-click="supprimerLigne($index)">❌</a>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="b64" tabindex="-1" role="dialog" aria-labelledby="b64ModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
			<h5 class="modal-title" id="b64ModalLabel">{{'B84_PAN_TITLE' | translate}}</h5>
			</div>
			<div class="modal-body">
				<a href="{{b64}}" data-bs-dismiss="modal">{{'B84_PAN_LINK' | translate}}</a>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">{{'PAN_CLOSE' | translate}}</button>
			</div>
		</div>
		</div>
	</div>
</section>